.tf-debugger {
  display: flex;
  gap: 12px;
}

.tf-debugger__node {
  position: relative;
  min-width: 20px;
  padding: 0.3rem;
  background: #f6f6f6;
}

.tf-debugger__node:last-child {
  min-width: 0;
  padding: 0;
}

.tf-debugger__node--cursor::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: -7px;
  width: 3px;
  background: black;
  content: "";
}